/* Common css */
body {
  font-family: "Manrope", serif;
  font-size: 20px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
/* Heading css */
h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", serif;
  font-weight: 700;
  color: #000;
}
a {
  color: #337ab7;
  text-decoration: none;
  display: inline-block;
}
img {
  width:100%
}

.container {
  max-width: 1440px;
}
h2 {
  font-size: 40px;
}

p {
}
.asurion-color {
  color: #CB5AFF;
}
.asurion-gradient-background {
  background: rgb(246,237,255);
  background: linear-gradient(90deg, rgba(246,237,255,1) 0%, rgba(224,243,255,1) 100%);
}





/* Header start */
.asurion-header-top a {
font-weight: 400;
font-size: 0.875rem !important;
text-decoration: none;
color: #6e767d;
}

.asurion-header-top ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
gap: 20px;
}

.asurion-header-top-right a {
color: rgb(0 0 0);
}

.asurion-header-top {
border-bottom: 1px solid #eee;
}

.asurion-header-main {
border-bottom: 1px solid #eee;
padding: 22px;
}

.asurion-header-menu ul {
list-style: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
font-size: 16px;
align-content: center;
margin: 0;
padding: 0;
gap: 20px;
}

.asurion-header-menu ul a {
font-size: 16px;
text-decoration: none;
color: #000;
font-weight: 400;
}
.asurion-header-menu {display: flex;height: 100%;}
a.asurion-button-bg {
  border-radius: 50px;
  border: 2px solid rgb(130, 35, 210);
  background-color: #8223d2;
  color: #fff;
  border-color: #8223d2;
  padding: 14px 48px;
  font-size: 16px;
}
/* Header End */







/* hero */
.asurion-hero-wrapper {
    padding: 60px 0;
}



.asurion-hero-wrapper h2 {
    font-size: 60px;
}

.asurion-button-border {
    border-radius: 50px;
    border: 2px solid rgb(130, 35, 210);
    color: #8223d2;
    border-color: #8223d2;
    padding: 14px 48px;
    font-size: 16px;
}

.asurion-hero-wrapper a.asurion-button-bg {
  margin-right: 10px;
}
.asurion-hero-info i {
    color: #CB5AFF;
}

.row.asurion-hero-info {
    font-size: 16px;
    text-align: center;
    margin-top: 60px;
}

.asurion-hero-info .asurion-color {
    font-weight: bold;
}

/* home running */
.asurion-home-running-wrapper p {
  font-size: 19px;
}
.asurion-home-running-wrapper {
  background: linear-gradient(133deg, #FBF2FF 0%, #EBF9FF 7%, #FFF 20%);
  margin-bottom: 60px;


}


.asurion-home-tech-card {
    box-shadow: 0 0 10px #eee;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    padding-bottom: 20px;
}
.asurion-home-tech-card-top img {
  height: 90px;
  width: 100%;
  object-fit: contain;
}

.asurion-home-tech-card h3 {
  font-size: 18px;
  color: #666;
}
.asurion-home-tech-card h3 b {
    color: #000;
}

.asurion-home-tech-card-top {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
.asurion-review-card {
  height: 460px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}
.asurion-review-card-content {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
}
.asurion-review-card-person img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.asurion-review-card-person {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.asurion-review-card-person-info h4 {
    font-size: 18px;
    margin: 0;
}

.asurion-review-card-person-info {
    font-size: 16px;
    color: #999;
}
.asurion-faq-item {
  border-top: 1px solid #000;
  padding: 20px 0;
}
.asurion-faq-item h3 {
    font-weight: 400;
}