/* Common css */
body {
  font-family: "Manrope", serif;
  font-size: 24px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
/* Heading css */
h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", serif;
  font-weight: 700;
  color: #333;
}
a {
  color: #337ab7;
  text-decoration: none;
}



/* Header start */
.asurion-header-top a {
font-weight: 400;
font-size: 0.875rem !important;
text-decoration: none;
color: #6e767d;
}

.asurion-header-top ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
gap: 20px;
}

.asurion-header-top-right a {
color: rgb(0 0 0);
}

.asurion-header-top {
border-bottom: 1px solid #eee;
}

.asurion-header-main {
border-bottom: 1px solid #eee;
padding: 22px;
}

.asurion-header-menu ul {
list-style: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
font-size: 16px;
align-content: center;
margin: 0;
padding: 0;
gap: 20px;
}

.asurion-header-menu ul a {
font-size: 16px;
text-decoration: none;
color: #000;
font-weight: 400;
}
.asurion-header-menu {display: flex;height: 100%;}
a.asurion-button-bg {
  font-weight: 400;
  text-align: center;
  display: flex;
  border-radius: 10rem;
  border: 2px solid rgb(130, 35, 210);
  height: 40px !important;
  background-color: #8223d2;
  color: rgb(255, 255, 255);
  border-color: #8223d2;
  padding: 0px 1.75rem;
  font-size: 16px;
  align-items: center;
}
/* Header End */